@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.layout {
	width: 100%;
	height: auto;
}


body {
	margin: 0px;
	height: 100%;
	font-family: Lora;
}


p {
	font-size:  18px;
	line-height: 26px;
	margin: 5px 0px;
	font-family: source;
}


h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

button{
	border: none;
	outline: none;
	font-family: Lora;
	cursor: pointer;

}

header{
	margin-right: 0px;
}

a, a:hover, a:visited , a:active {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}