@font-face {
	font-family: 'Evogria';
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/Evogria.woff') format('woff');
	}


.container {
	display: flex;
		color: #0B6E4F;

}

.inner {
	width: 100%;
	max-width: 600px;
}


.logo{
	width: 240px;
	height: 100px;
	margin-bottom: 124px ;
}


.container h4{
	font-size: 20px;

}

.container button{
	padding: 15px 25px;
	color: #fff;
	background-color: #0B6E4F;
	font-size: 18px;
	font-weight: 600;
	white-space: nowrap;
	text-align: center;
	border-radius: 5px;
}

.contentOne{
	margin-bottom: 28px;
	line-height: 43px;
}


.contentTwo h4{
	margin-bottom: 112px;
	font-weight: 400;
}

@media(max-width: 850px){
	.inner{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 350px;
	}
	.container button{
		display: none;
	}
	.container .header {
		text-align: center;
		margin-bottom: 75px;
		font-size: 42px;
		width: 260px;
	}

	.contentOne h1{
		font-size: 36px;
		line-height: 32px;
	}

	.container h4{
		font-size: 18px;
	}

	.logo{
		width: 200px;
		height: 80px;
		margin-bottom: 72px;
	}
}

@media(max-width: 550px){
	.contentOne h1{
		font-size: 28px;
	}
	.logo{
		width: 180px;
		height: 64px;
		margin-bottom: 64px;
	}

}