@font-face {
	font-family: 'Evogria';
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/Evogria.woff') format('woff');
	}


.container {
	display: flex;
		color: #0B6E4F;

}

.inner {
	width: 100%;
	max-width: 600px;
}


.container .header{
	font-family: Evogria Roboto;
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 124px;
	border-bottom: solid 6px #0B6E4F;
	border-top: solid 6px #0B6E4F;
	font-weight: 900;
	width: 280px;
}


.container h1{
	font-size: 48px;
}

.container h4{
	font-size: 20px;

}

.container button{
	padding: 15px 25px;
	color: #fff;
	background-color: #0B6E4F;
	font-size: 18px;
	font-weight: 600;
	white-space: nowrap;
	text-align: center;
	border-radius: 5px;
}

.contentOne{
	margin-bottom: 28px;
}


.contentTwo{
	margin-bottom: 36px;
}

@media(max-width: 850px){
	.inner{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.container button{
		display: none;
	}
	.container .header {
		text-align: center;
		margin-bottom: 75px;
		font-size: 42px;
		width: 260px;
	}

	.contentOne h1{
		font-size: 36px;
	}

	.container h4{
		font-size: 18px;
	}
}